.page {
  background-image: url("../../assets/backgroundImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  height: 576px;
}

.page__content {
  margin: 0 auto;
}
