.page {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.page__content {
  background-image: url("../../assets/backgroundImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 576px;
  max-width: 1440px;
  margin: 0 auto;
}
.page__no-bg {
  background-image: none;
  background-color: #ffffff;
  color: #000000 !important;
}
