.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.page__content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/backgroundImg.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}
.page__no-bg {
  background-image: none;
  background-color: #ffffff;
  color: #000000 !important;
}
.routes-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 516px) {
  .page__content,
  .routes-wrapper {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
  }
}
