.header {
  display: flex;
  height: 80px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
}

/* Default styles for main page */
.header__news-title,
.header__home-btn,
.header__signin {
  color: rgba(255, 255, 255, 1);
}

/* Override styles for saved-news page */
.header_type_saved-news .header__news-title,
.header_type_saved-news .header__home-btn,
.header_type_saved-news .header__signin {
  color: #000000 !important;
  border-color: #000000 !important;
}

.header__title {
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  margin-top: 30px;
}
.header__news-title {
  font-size: 20px;
  padding-left: 76px;
  margin: 0;
}
.header__user-menu {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  padding-right: 90px;
}
.header__home-btn {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 1);
}

.header__signin {
  background: transparent;
  border-radius: 100px;
  width: 176px;
  height: 48px;
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}

.header__user-menu:hover {
  color: #00bfff;
}
